body, html, div, ul, ol, li, a, h1, h2, h3, h4, input {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#container {
  width: 100%;
  margin: 0 auto;
}

#nav-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  background: #eee;
}

#menu ul {
  display: flex;
  list-style-type: none;
}

#menu li {
  padding: 10px 20px;
}

#menu a {
  text-decoration: none;
  color: #2199E8;
  border-bottom: 1px solid #eee;
  padding-bottom: 2px;
}

#menu a:hover {
  border-bottom: 1px solid #2199E8;
  padding-bottom: 2px;
  transition: .2s linear;
}

#search {
  display: flex;
  text-align: center;
}

#search input {
  outline: none;
  display: block;
  height: 40px;
  box-sizing: border-box;
  padding: 10px;
  font-size: 14px;
}

#search button {
  border: none;
  height: 40px;
  box-sizing: border-box;
  padding: 12px 20px;
  margin-left: 10px;
  background: #2199E8;
  font-size: 14px;
  color: #fff;
  outline: none;
  cursor: pointer;
}

#search button:hover {
  background: #777;
}

.subnav {
  margin-top: 15px;
}

#subnav-left {
  height: 150px;
  background: #ccc;
}

#subnav-right {
  height: 150px;
  background: #333;
}

#option-menu {
  height: 50px;
  width: 100%;
  background: #eee;
  margin: 15px auto;
  box-sizing: border-box;
  padding: 15px 0;
}

#option-menu ul {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
}

#option-menu li {
  align-self: center;
}

#option-menu a {
  text-decoration: none;
  color: #2199E8;
}

#option-menu a:hover {
  color: #777;
}

#preview-wrapper {
  display: flex;
}

#picture-left {
  height: 300px;
  background: #ccc;
  margin-right: 7px;
  flex-grow: 3;
}

#picture-right {
  height: 300px;
  background: #fff;
  margin-left: 7px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

#top {
  flex-grow: 1;
  margin-bottom: 7px;
  background: #ccc;
}

#bottom {
  flex-grow: 1;
  margin-top: 7px;
  background: #ccc;
}

@media screen and (min-width: 580px) {
  #container {
    max-width: 1000px;
    width: 100%;
  }

  #nav-wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  #subnav-wrapper {
    display: flex;
  }

  #subnav-left {
    height: 150px;
    flex-grow: 1;
    background: #ccc;
    margin-right: 7px;
  }

  #subnav-right {
    height: 150px;
    flex-grow: 3;
    background: #333;
    margin-left: 7px;
  }



}
